header {
    height: 120px;
    width: 100%;
    background: radial-gradient(#444,rgb(17, 17, 17) );
    border: rgb(211, 116, 0) solid 3px;
    border-radius: 5px;
   border-left: none;
   border-right: none;
   border-top: none;
}
#first {
 background: radial-gradient(bisque,#333 );
/*background-image: url(istockphoto-520946900-612x612.jpg);
background-repeat: no-repeat;
background-size: cover;*/
border-radius: 3px;

height: 1600px;
width: 100%;
}
#h1 {
    display: flex;
    justify-content: center;   
}
h1 {
font-size: 65px;
color: bisque;
text-align: center;
text-shadow: 1px 0 1px #000, /*контур цифры */
0 3px 3px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;



height: 80px;
width: 220px;

background-color: black;
border-radius: 5px;
}
#first_sub {
    color: bisque;
    text-align: center;
    text-shadow: 1px 0 1px #000, /*контур цифры */
    0 3px 3px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    
    position: absolute;
    top: 300px;
}